<div>
  <h1 class="boat-index-title">Our Boats</h1>
  <div class= "button">
    <%= link_to "New Boat", new_boat_path, class: "btn-add-new" %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# SHOW ALL BOATS + LINK TO ADD A BOAT %>
<!--div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.yachtsinternational.com/.image/ar_233:100%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_3840/MTQ3MzM2MDExNzAwMTg0ODc5/remember_when_hi-03577-credit-quin-bisset.webp)">
    <%= link_to "Yacht", "boat.boat_id", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.economist.com/img/b/1424/801/90/sites/default/files/images/2021/02/articles/main/20210220_stp001.jpg)">
    <%= link_to "Motorboat", "boat.boat_id", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/barge-on-the-river-seine-at-sunset-paris-france-picture-id944076910?k=20&m=944076910&s=612x612&w=0&h=TvOQtHwJFgwIxJ5dMPDAr8B_XCuYrSNfFBJNhYVdRB0=)">
    <%= link_to "Barge", "boat.boat_id", class: "btn btn-ghost" %>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.motor1.com/images/mgl/eJbN6/s1/homemade-amphibious-car.jpg)">
    <%= link_to "Amphibious Vehicle", "boat.boat_id", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://edibledoor.ediblecommunities.com/sites/default/files/images/article/tallShip.jpg)">
    <%= link_to "El Galeón", "boat.boat_id", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://lh3.ggpht.com/__zoKJ77EvEc/S7R6Gy6X6UI/AAAAAAAADSQ/JdKT_hPK4ek/sinking-boat%20%289%29%5B2%5D.jpg?imgmax=800)">
    <%= link_to "Mystery Boat", "boat.boat_id", class: "btn btn-ghost" %>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i2-prod.cambridge-news.co.uk/incoming/article17643526.ece/ALTERNATES/s615/0_sunk-car-1.jpg)">
    <%= link_to "Car-Boat", "boat.boat_id", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://png.pngtree.com/thumb_back/fh260/background/20210917/pngtree-natural-landscape-photography-of-a-rubber-dinghy-wandering-in-the-lake-image_897172.jpg)">
    <%= link_to "Dinghy", "boat.boat_id", class: "btn btn-ghost" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.ctfassets.net/pjshm78m9jt4/348811_header/793bea22e0827104cbc17d3e0c9fe0be/importedImage348811_header)">
    <%= link_to "Trawler", "boat.boat_id", class: "btn btn-ghost" %>
  </div-->

  <% @boats.each do |boat| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.yachtsinternational.com/.image/ar_233:100%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_3840/MTQ3MzM2MDExNzAwMTg0ODc5/remember_when_hi-03577-credit-quin-bisset.webp)">
      <%= link_to boat.boat_type, boat_path(boat), class: "btn btn-ghost" %>
    </div>
  <% end %>
</div>
