
<div class="container">
  <div class="boat-row d-flex justify-content-between">
    <div class="boat-card" style="width: 18rem;">
     <%= cl_image_tag @boat.photo.key, height: 300, width: 296, crop: :fill, class: "boat-card-img" %>
      <div class="boat-card-body">
        <h1><%= @boat.boat_type %></h1>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>boat_type:</strong> <%= @boat.boat_type %></li>
        <li class="list-group-item"><strong>total_occupancy:</strong> <%= @boat.total_occupancy %></li>
        <li class="list-group-item"><strong>price:</strong> <%= @boat.price %></li>
      </ul>
      <br>
      <p><%= link_to "Delete", boat_path(@boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-boat-btn"  %></p>
    </div>

    <div class="col-4 mt-5">
      <h4>Create new booking</h4>
        <%= simple_form_for [@boat, @reservation] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, class: "create-boat-btn" %>
        <% end %>
    </div>
  </div>
</div>
