SHOW INFORMATION ON CHOSEN BOAT

<div class="container">
  <div class="boat-row">
    <div class="boat-card">
    <h1><%= @boat.boat_type %> </h1>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>boat_type:</strong> <%= @boat.boat_type %></li>
        <li class="list-group-item"><strong>total_occupancy:</strong> <%= @boat.total_occupancy %></li>
        <li class="list-group-item"><strong>price:</strong> <%= @boat.price %></li>
      </ul>
      <br>
      <p><%= link_to "Delete", boat_path(@boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-boat-btn"  %></p>
    </div>

    <div class="col-4 mt-5">
      <%= simple_form_for [@boat, @reservation] do |f| %>
        <%= f.input :start_date, as: :date, html5: true%>
        <%= f.input :end_date, as: :date, html5: true %>
        <div class="d-flex justify-content-center mt-4.5 py-2">
          <%= f.submit "Book Boat Boi", class:"button-64" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
